<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>豆瓣Top250</title>
</head>
<body>
<h1>豆瓣电影Top250</h1>
<div>
    <table>
        <thead>
            <tr>
                <th>排名</th>
                <th>标题</th>
                <th>导演</th>
                <th>主演</th>
                <th>发行时间</th>
                <th>地区</th>
                <th>类型</th>
                <th>评分</th>
                <th>海报</th>
            </tr>
        </thead>
        <tbody>
            {% for line in mylist %}
                <tr>
                    <td>{{ line.index }}</td>
                    <td>{{ line.title }}</td>
                    <td>{{ line.director }}</td>
                    <td>{{ line.actor }}</td>
                    <td>{{ line.time }}</td>
                    <td>{{ line.region }}</td>
                    <td>{{ line.typee }}</td>
                    <td>{{ line.score }}</td>
                    <td><img src="{{ line.images }}"/></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>